<h1>New room</h1>

<% form_for(@room) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>Contact: <%= f.select(:contact_id, Contact.find(:all).collect {|u| [u.name, u.id]}, :prompt => 'Select') %></p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', rooms_path %>
