<h1>New item</h1>

<% form_for(@item) do |f| %>
  <%= f.error_messages %>

  <p>

    <%= f.label :manufacturer_id %><br />
    <%= f.select(:manufacturer_id, Manufacturer.find(:all).collect {|u| [u.name, u.id]}, :prompt => 'Select') %>
  
  </p>
  <p>
 
  <div id="modelname_container">
	 <select id="model_name_id" name="model_name_id" disabled="disabled">
	     <option value="">Select Model</option>
         </select>
    </div>

    
    
    <%= observe_field(:item_manufacturer_id,
        :frequency => 1,
        :update => 'modelname_container',
        :url => { :action => :get_models_for_manufacturer },
        :with => "'manufacturer_id='+value") %>
  </p>
  <p>
    <%= f.label :room_id %><br />
    <%= f.select(:room_id, Room.find(:all).collect {|u| [u.number, u.id]}, :prompt => 'Select') %>
  </p>
  <p>
    <%= f.label :barcode %><br />
    <%= f.text_field :barcode %>
  </p>
  
  <p>
    <%= f.label :purchase_date %><br />
    <%= f.text_field :purchase_date %>
  </p>
  
  <p>
    <%= f.label :warranty_period %><br />
    <%= f.text_field :warranty_period %>
  </p>  

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', items_path %>
