<p>
  <b>Manufacturer:</b>
    <%=h @item.manufacturer.name %>

</p>

<p>
  <b>Model:</b>
  <%=h @item.model_name.name %>
</p>

<p>
  <b>Room:</b>
  <%=h @item.room.number %>
</p>

<p>
  <b>Barcode:</b>
  <%=h @item.barcode %>
</p>

<h4>Specs</h4>



<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
